
/* * {
    box-sizing: border-box;
  } */

.header-box {

    background-color: rgb(52, 194, 230);
    padding: 10px;
    margin-bottom: 20px;

}

.box-shadow {
    box-shadow: 2px 2px 2px grey;
}

.sticky-top {
    position: sticky;
    top: 10px;
}

.name {
    font-size: 40px;
    text-align:center;
    border-width: 0px;
    font-weight: bold;
    text-shadow: 2px 2px 4px grey ;
    
}

.detail {
    text-align:center;
    font-size: x-large;  
    text-shadow: 2px 2px 4px grey ;
}

.headline {
    text-align:center;
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 15px;    
}

.headerline {
    height: 5px;
    background: powderblue;
    /* border: 2px solid black; */
    box-shadow: 2px 2px 2px grey;
    margin-bottom: 30px;
  }

.section-heading {
    /* display: table-cell; */
    border-color: black;
    width: 200px;
    padding: 20px;
    text-align: center;
    vertical-align: center;
    font-weight: bold; 
    background-color: aqua;
    margin-bottom:20px;
    font-size: 20px;
    text-shadow: 1px 1px 3px grey ;
    box-shadow: 2px 2px 2px grey;
}



.flex-container {
    display: flex;
    /* border:2px solid black; */
}

.inline-block {
    display: inline-block
}

.executive-profile-text {
    margin-top: 10px;
    margin-left: 20px; 
    margin-right: 20px; 
    font-size: 17px;
    /* border:2px solid black; */
}

.company-details {
    font-size: 18px;
    font-weight: bold;

}



.role {
    width:400px;
    display:inline-block;
    margin:10px;
}

.company {
    width:400px;
    display:inline-block;
    
}

.role-details {
    margin:20px;
    font-weight: normal;

}

.products {
    position: absolute;
    width: 500px;
    right: 100px;
    background-color: bisque;

}

.container {

    display: inline;
    display: flex;
}

.career {
    width: 80%;

}

.division {
    width: 1px;
    border: 1px solid powderblue ;


}

.career-highlights {
    font-size: medium;
}

.education {
    width:50%;
    padding-left: 50px;
    display: inline;
}

.degree {
    font-size: large;
    font-weight: bolder;
}

.ieaust {
    font-size: medium;
    font-weight: bolder;
}

table.center {
    margin-left: auto; 
    margin-right: auto;
    width: 80%;
}

* {
    border-radius: 15px;   
}

a:hover {

     font-weight: 400;
     text-shadow: 3px 3px 3px greenyellow ;
  
}

image:hover {
    size: 10%;
}


/* #grid-section {



    } */

.grid-container {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;

}

.grid-item {
        padding: 10px;
    }


.skills {
    text-align: left;
    margin-left: 50px;
    font-weight: bold;
    font-size: 15px;
}

@media screen and (max-width: 1000px) {
   

    .header-box {

        background-color: rgb(52, 194, 230);
        padding: 5px;
        margin-bottom: 5px;
    
    }

    .name {
        font-size: 30px;
        text-align:center;
        border-width: 0px;
        font-weight: bold;
        text-shadow: 2px 2px 4px grey ;
        
    }

    
.section-heading {
    /* display: table-cell; */
    border-color: black;
    width: 200px;
    padding: 10px;
    text-align: center;
    vertical-align: center;
    font-weight: bold; 
    background-color: aqua;
    margin-bottom:10px;
    font-size: 17px;
    text-shadow: 1px 1px 3px grey ;
    box-shadow: 2px 2px 2px grey;
}

    .detail {
        text-align:center;
        font-size: medium;  
        text-shadow: 2px 2px 4px grey ;
    }

    .executive-profile-text {
        margin-top: 5px;
        margin-left: 20px; 
        margin-right: 20px; 
        font-size: 14px;
        /* border:2px solid black; */
    }

    .company-details {
        font-size: 14px;
        font-weight: bold;
    
    }
    
    
    
    .role {
        width:400px;
        display:inline-block;
        margin:05px;
        font-size: 15px;
    }
    
    .company {
        width:300px;
        display:inline-block;
        
    }
    
    .role-details {
        margin:05px;
        font-weight: normal;
    
    }
    
    .period {
        padding-top: 5px;
    }

    .headline {
        text-align:center;
        font-weight: bold;
        font-size: large;
        padding-bottom: 10px;    
    }

    .career-highlights {
        font-size: 14px;
    }
    

    .grid-container {
    
    display: grid;
    grid-template-columns: 1fr;

    }
    }


    .grid-item {
        padding: 0px;
    }

    .skills {
        text-align: left;
        margin-left: 50px;
        font-weight:600;
        font-size: 13px;
    }

    .headerline {
        height: 3px;
        background: powderblue;
        /* border: 2px solid black; */
        box-shadow: 2px 2px 2px grey;
        margin-bottom: 15px;
      }

      .division {
        /* display: none; */
        width: 1px;
        border: 1px solid powderblue ;
    
    
    }
   